@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.contactpage {
  min-height: 80vh !important;
  padding-bottom: 60px;
  position: relative;
  background: linear-gradient(-45deg, #fff, #fff, #fff7ae, #fff, #fff, #fff);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
.contactHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  font-family: "Ubuntu", "Uchen", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.hi {
  display: flex;
  margin: 10px 0px;
  justify-content: right;
  align-items: center;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn {
  background-color: #053742d8 !important;
  color: #fff !important;
  border: #053742c9 !important;
}
.btn:hover {
  background-color: #05374286 !important;
  border: #053742c9 !important;
}
.btncolor {
  background-color: #6e7c7c !important;
  border: #6e7c7c !important;
}

.contactitems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0px;
}
.forms {
  background-color: #0537429d;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  /* background: "#053742", */
}
.socialBlock {
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
}
.contactItemSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 30%;
  margin-top: 20px;
}
.socialIcon1 {
  height: 47px;
  width: 47px;
  cursor: pointer;
}
.socialIcon2 {
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.socialIcon1:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}
.socialIcon2:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}
.bk {
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}
.hiimg {
  height: 180px;
  width: 180px;
  pointer-events: none;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
/* .hiimg:hover {
  transform: rotate(15deg);
} */

@media (max-width: 757px) {
  .contactitems {
    justify-content: center;
  }

  .socialBlock {
    justify-content: center;
  }
  .hi {
    margin-top: 40px;
    justify-content: center;
  }
  .hiimg {
    height: 100px;
    width: 100px;
  }
}
