@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans:wght@300;600;800&display=swap");
.Landingpage {
  min-height: 86vh !important;
}
.Landingpageimg {
  height: 600px;
  width: auto;
  right: 0%;
  position: absolute;
  z-index: 1;
}
.Landingpageheader {
  font-family: "Bevan", sans-serif;
  font-size: 75px;
}
.Landingpagedesc {
  font-size: 30px;
  font-weight: 600;
  font-family: "Uchen", sans-serif;
  background: #f9f871;
  padding: 0px 20px;
}
@media (max-width: 764px) {
  .LandingPageimgsec {
    height: 0px !important;
    display: none !important;
  }
  .Landingpage {
    min-height: 65vh !important;
  }
}
@media (max-width: 450px) {
  .Landingpageheader {
    font-size: 65px;
  }
}
@media (max-width: 993px) {
  .Landingpageimg {
    height: 400px;
    width: auto;
    right: 0%;
    position: absolute;
    z-index: 1;
  }
}
