@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans:wght@300;600;800&display=swap");
.Landingpage {
  min-height: 86vh !important;
  /* background-color: #fff !important;
  position: relative !important;
  z-index: 10; */
}
.Landingpageimg {
  height: 600px;
  width: auto;
  right: 0%;
  position: absolute;
  z-index: 1;
}
.Landingpageheader {
  font-family: "Bevan", sans-serif;
  font-size: 75px;
  /* background-color: black; */
  opacity: 1;
  /* background: url(../images/black4.jpeg);
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 140s linear infinite; */
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
.Landingpagedesc {
  font-size: 30px;
  font-weight: 600;
  font-family: "Uchen", sans-serif;
  background: #f9f871;
  padding: 0px 20px;
}

@media (max-width: 764px) {
  .LandingPageimgsec {
    height: 0px !important;
    display: none !important;
  }

  .Landingpage {
    min-height: 65vh !important;
  }
}
@media (max-width: 450px) {
  .Landingpageheader {
    font-size: 65px;
  }
}
@media (max-width: 993px) {
  .Landingpageimg {
    height: 400px;
    width: auto;
    right: 0%;
    position: absolute;
    z-index: 1;
  }
  .Landingpage {
    padding-top: 140px !important;
  }
}
