.icons {
  height: 80px;
  width: 30px;
}
.navitems {
  justify-content: space-between !important;
}
.navitemslist:hover {
  color: #053742 !important;
  transition: all 0.1s ease-in-out !important;
}

@media (min-width: 990px) {
  .navitemslist {
    padding-left: 32px !important;
    padding-right: 32px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .nav {
    margin: 0px 70px;
  }
  .navitems {
    margin-left: 20% !important;
  }
}
@media (min-width: 1232px) {
  .navitemslist {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media (max-width: 989px) {
  .navbox {
    position: fixed !important;
    z-index: 200000 !important;
    width: 100% !important;
  }
   .navbar {
    padding: 0rem 1rem !important;
  }
}
