.icons {
  height: 80px;
  width: 30px;
}
.navitems {
  justify-content: space-between !important;
}

@media (min-width: 990px)  {
  .navitemslist {
    padding-left: 32px !important;
    padding-right: 32px !important;
    font-size: 18px !important;
  }
  .nav {
    margin: 0px 70px;
  }
  .navitems {
    margin-left: 20% !important;
  }
}
@media (min-width: 1232px) {
  .nav {
    margin: 0px 70px;
  }
  .navitems {
    margin-left: 20% !important;
  }
  .navitemslist {
    padding-left: 50px !important;
    padding-right: 50px !important;
    font-size: 18px !important;
  }
}
