@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Open+Sans:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.projectpage {
  margin: 0px 0px;
  padding-bottom: 60px;
  padding: 15px;
  padding-bottom: 60px;
  background-color: #053742;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23064451' stroke-width='1.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23414141'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.cards-placement {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 30px;
}
.card {
  font-size: 1em;
  overflow: hidden;
  width: 70% !important;
  border-radius: 30px !important;
  height: 330px !important;
  padding: 0;
  border: none;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.card:hover {
  box-shadow: 0 0 0 0 #fff, 0 10px 30px 1px #fff;
  cursor: pointer;
}

.card-img-top {
  display: block;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  background: #fff;
}

.card-inverse .btn {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.profile {
  position: absolute;
  top: -12px;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}

.profile-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-inline {
  position: relative;
  top: 0;
  display: inline-block;
}

.profile-inline ~ .card-title {
  display: inline-block;
  margin-left: 4px;
  vertical-align: top;
}

.text-bold {
  font-weight: 700;
}

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.meta a:hover {
  color: rgba(0, 0, 0, 0.87);
}

.card {
  position: relative;
  overflow: hidden;
}

.whenhovered {
  position: absolute;
  top: -100%;
  right: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  padding: 2%;
  text-align: center;
  color: #fff !important;
  font-family: "Ubuntu" !important;

  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.card:hover .whenhovered {
  top: 0%;
  background: rgba(0, 0, 0, 0.75);
}
@media (min-width: 351px) and (max-width: 570px) {
  .card {
    font-size: 1em;
    overflow: hidden;
    width: 90% !important;
    border-radius: 30px !important;
    height: 220px !important;
  }
  .whenhovered {
    display: none;
  }
}
#video {
  /* position: absolute; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;

  /* z-index: -1; */
  /* width: 100%;
  margin-left: 0px !important;
  padding-left: 0px !important; */
  /* left: 50%; */
  /* top: 50%; */
  /* height: 100%;
  transform: translate((-50%, -50%));
  object-fit: cover; */
}
/* @media (max-width: 350px) {
  .card {
    font-size: 1em;
    overflow: hidden;
    width: 90% !important;
    border-radius: 30px !important;
    height: 190px !important;
  }
  .whenhovered {
    display: none;
  }
} */
@media only screen and (min-width: 540px) and (max-width: 1024px) {
  .card {
    font-size: 1em;
    overflow: hidden;
    width: 90% !important;
    border-radius: 30px !important;
    height: auto !important;
  }
  .whenhovered {
    display: none;
  }
}
@media (max-width: 350px) {
  .card {
    font-size: 1em;
    overflow: hidden;
    width: 90% !important;
    border-radius: 30px !important;
    height: 200px !important;
  }
  .whenhovered {
    display: none;
  }
}
@media (max-width: 1024px) {
  #video {
    display: none;
    height: 0% !important;
    width: 0% !important;
  }
}

@media (min-width: 1220px) {
  .card:hover {
    transform: scale(1.2) !important;
    transition: all 0.7s ease-in-out !important;
  }
  .card {
    transition: all 0.7s ease-in-out !important;
  }
}
