@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:wght@400;500;600;800&family=Roboto:wght@400;500;700;900&family=Uchen&display=swap");
* {
  box-sizing: border-box;
}
html {
  max-width: 100vw !important;
  margin: 0px 0px !important;
  overflow-x: hidden;
}
body {
  height: 100%;
  overflow-x: hidden;
  padding-top: 0px !important;
  margin-top: 0px !important;
}
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #f25287 0%, #c9cbff 100%);
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh #eeeeee;
  border-radius: 100px;
}
